* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,body {
  height: 100vh;
  font-family: 'Assistant', sans-serif;
  font-family: 'Questrial', sans-serif;
  color: rgb(231, 231, 231);
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}
